src/main/mule/FTPlogger.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd">
	<flow name="FTPLogger" doc:id="7d1870e7-a6c9-4185-a554-9d2a5d5535ed" >
		<vm:listener queueName="DataToLog" doc:name="Listener" doc:id="cf51be60-c1c7-47df-9739-6eed1d922931" config-ref="VM_Config" />
		<ee:transform doc:name="Form Data" doc:id="21f52e7a-88c2-431f-9838-a32a62e779b3" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="toLog" ><![CDATA[%dw 2.0
output application/json
---
payload.SInf.headers.date as String ++ " , " ++ 
payload.FInf.remoteAddress as String  ++ ' , ' ++ 
payload.FInf.method as String ++ " " ++ 
payload.FInf.requestPath as String ++ " , " ++ 
payload.status as String ++ " " ++
payload.FInf.queryString as String]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<java:invoke-static method="make(java.lang.String)" doc:name="Add line transcender" doc:id="420a58f4-8ce0-443a-8099-bab1c13d4175" class="demo_joined_ftp_merge.Endl" >
			<java:args ><![CDATA[#[txt : vars.toLog as String]]]></java:args>
		</java:invoke-static>
		<ftp:write doc:name="Write to FTP server" doc:id="b06bef0c-5eba-4c7f-8c44-750200ad6f03" config-ref="FTP_Config" path="LOGApi/Log.txt" mode="APPEND" createParentDirectories="false">
			<ftp:content ><![CDATA[#[payload as String]]]></ftp:content>
		</ftp:write>
		<logger level="INFO" doc:name="Logger" doc:id="8f0166df-dcc1-4b01-b204-8c050e83caf4" message="Written to FTP"/>
	</flow>
</mule>
