src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <flow name="space-events-demo-main">
        <http:listener config-ref="space-events-demo-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
		<ee:transform doc:name="Attribute saver" doc:id="39730ef7-80b6-4d00-840e-1f015ab04eee">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="FInf"><![CDATA[attributes]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<apikit:router config-ref="space-events-demo-config" />
		<vm:publish queueName="DataToLog" doc:name="Publish to Loger queue" doc:id="1fb0902e-6c6c-4e3a-9e59-49e9fca820b2" config-ref="VM_Config" sendCorrelationId="NEVER" >
			<vm:content ><![CDATA[#[%dw 2.0
output application/json
---
{
 FInf : vars.FInf,
 SInf : attributes,
 status : vars.httpStatus default 200
}]]]></vm:content>
		</vm:publish>
		<error-handler ref="errorHandling" />
    </flow>
    <flow name="space-events-demo-console">
        <http:listener config-ref="space-events-demo-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="space-events-demo-config" />
        <error-handler ref="errorHandling" />
    </flow>
    <flow name="get:\events:space-events-demo-config">
        <flow-ref doc:name="getSpaceEvents" doc:id="743b33f3-f747-476b-b6d5-3cefb5fbda14" name="getSpaceEvents" targetValue="#[message]" />
        <error-handler ref="errorHandling" />
    </flow>
    <flow name="get:\upcoming:space-events-demo-config">
        <flow-ref doc:name="getUpcomingSpaceEvents" doc:id="1a54f678-a1a3-40fe-a791-c52ef96f9221" name="getUpcomingSpaceEvents" />
        <error-handler ref="errorHandling" />
    </flow>
    <flow name="get:\event:space-events-demo-config">
        <flow-ref doc:name="getSpaceEventByName" doc:id="cbc4ff51-7807-4102-b0ce-2ce1af5532fd" name="getSpaceEventByName" targetValue="#[message]" />
        <error-handler ref="errorHandling" />
    </flow>
    <flow name="get:\patents:space-events-demo-config">
		<flow-ref doc:name="Flow Reference" doc:id="f809950d-8fd5-4032-9490-7d94c5e92ed3" name="getUniversal"/>
		<error-handler ref="errorHandling" />
    </flow>
</mule>
